<div class="container">
  <div class="row">
    <h1 align="center" style="color: white">Coding Bear</h1><br/>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 sec"><select id= "selectYear" class="form-control">
      <option>Year</option>
      <option>2017</option>
      <option>2016</option>
      <option>2015</option>
      <option>2014</option>
      <option>2013</option>
      <option>2012</option>
      <option>2011</option>
      <option>2010</option>
    </select>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4"></div>
  </div><br>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4"></div>
    <div class="col-md-4 col-sm-4 col-xs-4"><select id="selectCommitee" class="form-control">
      <option>Commitee</option>
      <option>Agriculture</option>
      <option>Appropriations</option>
      <option>Armed Services</option>
      <option>Budget</option>
      <option>Education and the Workforce</option>
      <option>Energy and Commerce</option>
      <option>Ethics</option>
      <option>Financial Services</option>
      <option>Foreign Affairs</option>
      <option>Homeland Security</option>
      <option>House Administration</option>
      <option>Judiciary</option>
      <option>Natural Resources</option>
      <option>Oversight and Government Reform</option>
      <option>Rules</option>
      <option>Science Space and Technology</option>
      <option>Small Business</option>
      <option>Transportation and Infrastructure</option>
      <option>Veterans' Affairs</option>
      <option>Ways and Means</option>
    </select>
      <!-- <input type="search" class="form-control" placeholder="Type you like"/> -->
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4"></div>
  </div><br>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 "></div>
    <div class="col-md-4 col-sm-4 col-xs-4 sec">
      <input ng-model="search" type="search" class="form-control" placeholder="Type you like"/>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4"></div>

  </div><br />

  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5"></div>
    <div class="col-md-2 col-sm-2 col-xs-2 text-center">
      <a href="">
        <button type="button" class="btn btn-primary" ng-click="searchMain()">SEARCH</button>
      </a>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5"></div>
  </div>
</div>
