<div>
  <table class="table">
    <thead>
      <tr>
        <th>bill_id</th>
        <th>bill_type</th>
        <th>chamber</th>
        <th>commitee_ids</th>
        <th>congress</th>
        <th>introduced_on</th>
        <th>title</th>
        <th>Tendency and Mood</th>
        <th>Tags and Keywords</th>
      </tr>


    </thead>

    <tbody>
      <tr ng-repeat="item in items">
        <td>{{item.bill_id}}</td>
        <td>{{item.bill_type}}</td>
        <td>{{item.chamber}}</td>
        <td>{{item.commitee_ids}}</td>
        <td>{{item.congress}}</td>
        <td>{{item.introduced_on}}</td>
        <td>{{item.title}}</td>
        <td> <button type="button" class="btn btn-primary" ng-click="generateMood(item.urls.html)">Generate</button></td>
        <td> <button type="button" class="btn btn-primary" ng-click="generateKeywords(item.urls.html)">Keywords</button></td>

      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5"></div>
    <div class="col-md-2 col-sm-2 col-xs-2 text-center">
      <a href="#">
        <button type="button" class="btn btn-primary" ng-click="searchMain()">ANALYSIS</button>
      </a>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5"></div>
  </div>
</div>
